{
  "mongo":{
    "url":"{{ mongo_url }}",
    "port":"{{ mongo_port}}",
    "username":"{{ mongo_user }}",
    "password":"{{ mongo_password }}",
    "database":"{{ mongo_database}}",
    "collection":"{{ mongo_collection }}"
  },
  "redis":{
    "url": "{{ redis_url }}",
    "port": "{{ redis_port }}"
  },
  "postgres":{
    "url": "{{ psql_url }}",
    "port": "{{ psql_port }}",
    "database": "{{ psql_db }}",
    "user": "{{ psql_user}}",
    "password": "{{ psql_password }}",
    "table": "{{psql_table_name}}"
  }
}
